@model MayTinhDaiPhat.Model.NhaPhanPhoi
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section masterjs {
    <script src="~/Content/assets/plugins/ckfinder/ckfinder.js"></script>
    <script>
        //Eternicode Datepicker
        $('#btnSelectImage2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#AnhQC').val(url);
            };
            finder.popup();
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <legend>Thêm Nhà Phân Phối</legend>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Nhà Phân Phối</label>
                @Html.TextBoxFor(model => model.TenNPP, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenNPP)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Người Liên Hệ</label>
                @Html.TextBoxFor(model => model.NguoiLienHe, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NguoiLienHe)
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Địa Chỉ</label>
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Điện Thoại</label>
                @Html.TextBoxFor(model => model.DienThoai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DienThoai)
            </div>
        </div>
         </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Fax</label>
                @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fax)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Địa Chỉ Website</label>
                @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>
    </div>
   <p>
           <input type="submit" value="Thêm" class=" btn-add add" />
           @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger btn-xs btn-canel" })
       </p>
}
