@model MayTinhDaiPhat.Model.QuangCao
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section masterjs {
    <script src="~/Content/assets/plugins/ckfinder/ckfinder.js"></script>
    <script>
        //Eternicode Datepicker
        $('#btnSelectImage2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#AnhQC').val(url);
            };
            finder.popup();
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <legend>Thêm Quảng Cáo</legend>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Quảng Cáo</label>
                @Html.TextBoxFor(model => model.TenQC, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenQC)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>STT</label>
                @Html.TextBoxFor(model => model.STT, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.STT)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.TextBoxFor(model => model.AnhQC, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnhQC)
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary" id="btnSelectImage2">
                <i class="fa fa-arrow-circle-o-down"></i>
                <span>Chọn Ảnh</span>
            </button>
        </div>
    </div>
  <p>
           <input type="submit" value="Thêm" class=" btn-add add" />
           @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger btn-xs btn-canel" })
       </p>
}

