@model MayTinhDaiPhat.Model.QuangCao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuangCao</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhQC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhQC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaQC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
