@model MayTinhDaiPhat.Model.NhanVien
@{
    ViewBag.Title = "Sửa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section masterjs {
 
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <legend>Sửa Nhân Viên</legend>
    @Html.TextBoxFor(model => model.MaNV, new { @class = "form-control hidden" })
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Nhân Viên</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.TenNV, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenNV)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Quyền</label>(<span style="color:#FF0000">*</span>)
                @Html.DropDownListFor(model => model.MaQuyen, (SelectList)ViewBag.MaQuyen, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaQuyen)
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Đăng Nhập</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.TenDangNhap, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenDangNhap)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Mật Khẩu</label>(<span style="color:#FF0000">*</span>)
                @Html.TextBoxFor(model => model.MatKhau, new { @class = "form-control", @type="password" })
                @Html.ValidationMessageFor(model => model.MatKhau)
            </div>
        </div>
    </div>
<p>
           <input type="submit" value="Sửa" class=" btn-add add" />
           @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger btn-xs btn-canel" })
       </p>
}
