@model MayTinhDaiPhat.Model.DanhMuc
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section masterjs {
    <script src="~/Content/assets/plugins/ckfinder/ckfinder.js"></script>
    <script>
        //Eternicode Datepicker
        $('#btnSelectImage2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#Icon').val(url);
            };
            finder.popup();
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <legend>Thêm Danh Mục</legend>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên Danh Mục</label>
                @Html.TextBoxFor(model => model.TenDM, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenDM)
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Danh mục cha</label>
                @*@Html.TextBoxFor(model => model.MaCha, new { @class = "form-control" })*@
                <div>
                    @Html.DropDownList("MaCha", String.Empty)
                    @Html.ValidationMessageFor(model => model.MaCha)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Loại danh mục</label>
                <div>
                    @Html.DropDownListFor(model => model.ParentId, new List<SelectListItem>()
                    {
                        new SelectListItem(){Selected = true,Text = "Sản phẩm",Value = "1"},
                        new SelectListItem(){Selected = false,Text = "Tin tức", Value = "2"}
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ParentId)
                </div>
            </div>
        </div>
     
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Icon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Icon)
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary" id="btnSelectImage2">
                <i class="fa fa-arrow-circle-o-down"></i>
                <span>Chọn Ảnh</span>
            </button>
        </div>

      
    </div>
    <p>
        <input type="submit" value="Thêm" class=" btn-add add" />
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger btn-xs btn-canel" })
    </p>
}
