@model MayTinhDaiPhat.Model.HoaDonNhap

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HoaDonNhap</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaNPP, "MaNPP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNPP", String.Empty)
                @Html.ValidationMessageFor(model => model.MaNPP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNV, "MaNV", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNV", String.Empty)
                @Html.ValidationMessageFor(model => model.MaNV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayNhap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayNhap)
                @Html.ValidationMessageFor(model => model.NgayNhap)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
