@model IEnumerable<MayTinhDaiPhat.Model.HoaDonNhap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaPhanPhoi.TenNPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaPhanPhoi.TenNPP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHDN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHDN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHDN })
        </td>
    </tr>
}

</table>
